name: 'Check Version'
on:
  pull_request:
    branches:
      - release/**
jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/install-dependencies
      - uses: ./.github/workflows/check-version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
